<h1><%= @chat.title %> Chatroom</h1>

<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new, remote: true do |f| %>
  <%= hidden_field_tag 'message[chat_id]' , @chat.id %>

  <%= f.text_field :content %>

  <%= f.submit "Send" %>
<% end %>

<!-- Subscribe to current chatroom -->
<!-- Will receive messages that are published to this chatroom -->
<%= subscribe_to chat_path(@chat) %>
